body{
    .container{
        width: 518px;
        height: 200px;
        margin: 0 auto;
        padding: 5px;

        h1{
            text-align: center;
            font-family:'Courier New', Courier,
            monospace;
        }

        .content{
            border-radius: 5px;
            height: 80%;
            padding: 0 7px;
            display: flex;
            align-items: center;
            background-color: lightblue;

            li{
                width: 120px;
                height: 120px;
                border-radius: 50%;
                position: relative;
                display: inline-block;


                a:hover span{
                    opacity: 1;
                }
            }

            img{
                border-radius: 50% ;
            }

            span{
                background-color: lightgray;
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                line-height: 120px;
                text-align: center;
                border-radius: 50%;
                opacity: 0;
                transition: 0.3s;
            }
            
        }
    }
}